@import '../core/_variables';

$el: '.flag-drop';

@mixin placing($place) {
	&:before {
		content: '' + $place;
	}
}

.flag-drop {
	&__ordered {
		position: relative;
	}

	&__ordered-inner {
		height: 100%;
		width: 100%;
		border: 3px dashed $col-grey-light;

		&:empty + #{$el}__caption {
			z-index: -1;
		}

		&:not(:empty) + #{$el}__caption {
			display: none;
		}


			@for $i from 1 through 5 {
				#{$el}__flag:nth-child(#{$i}):not(#{$el}__flag--moving) {
					@include placing($i);
				}
			}

			#{$el}__flag {
				// TODO: move this to the mixin. Issue #1805 in libsass needs to be fixed first

				position: relative;

				&:before {
					display: block;
					position: absolute;
					width: 30px;
					height: 30px;
					left: 50%;
					margin-left: 15px;
					font-weight: 900;
					line-height: 1.8;
					text-align: center;
					color: white;
					background: $col-header-1;
					box-shadow: 0 2px 4px rgba(black, 0.2);
					border-radius: 100%;
				}
			}
	}

	&__caption {
		width: 100%;
		position: absolute;
		top: 34px;
		left: 0;
		text-align: center;
		line-height: 1;
		color: $col-grey-light;

		p {
			margin: 0;
		}
	}

	&__unordered,
	&__ordered-inner {
		box-sizing: border-box;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		min-height: 145px;
		padding: $margin;
	}

	&__flag {
		margin: 10px 0;
		padding: 0 10px;
		text-align: center;
		float: left;
		flex-grow: 1;
		flex-basis: 0;

		&--ghost {
			opacity: 0.3;
		}
	}

	&__flag-img {
		width: 70px;
		height: 70px;
		margin: 0 auto;
		line-height: 0;
		overflow: hidden;
		border-radius: 100%;
		border: 6px solid;
		background-position: 50% 0;
		background-size: cover;
		cursor: move;

		@media (min-width: $break-s) {
			width: 90px;
			height: 90px;
		}
	}

	&__flag-name {
		margin: 1em auto 0;
		line-height: 1;
		max-width: 150px;
		text-transform: uppercase;
		color: $col-grey-dark;
	}

	.heading {
		margin-bottom: 0.2em;
	}
}
