@import '../core/variables';

.footer {
	margin-top: $margin;
	padding: $margin 0;
	font-size: $font-size-small;
	text-align: center;
	color: white;
	background: $col-grey-darkest;

	a {
		color: lighten($col-primary, 20%);
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}
