@import '../core/_variables';
@import '../core/_mixins';

$padding: $margin/2;
$img-width: 64px;

.graph-tooltip {
	$bg: rgba(white, 0.9);

	width: 350px;
	box-sizing: border-box;
	background: $bg;
	box-shadow: 0 4px 8px rgba(black, 0.2);
	border-radius: 5px;

	&:after {
		content: '';
		display: block;
		width: 0;
		height: 0;
		position: absolute;
		top: 100%;
		left: 50%;
		margin-left: -10px;
		border: 10px solid transparent;
		border-top-color: $bg;
		pointer-events: none;
	}

	&__header {
		@extend %clearfix;
		padding: $padding;
	}

	&__header-left {
		padding-right: $padding + $img-width;
	}

	&__title {
		margin: 0;
		font-weight: 900;
		text-transform: uppercase;
		font-size: 1em;
	}

	&__img {
		position: absolute;
		right: $padding;
		top: $padding;
		width: $img-width;
	}

	&__body {
		padding: $padding;
		border-top: 1px solid $col-grey-lightest;
	}

	h4 {
		margin: 0;
		font-weight: 400;
		text-transform: uppercase;
		color: $col-grey-dark;
	}
}
