@import '../core/_variables';

.header {
	width: 100%;
	padding: $margin*1.5 0;
	background: #9baecb;
	background-image: radial-gradient(ellipse 100% 200% at 100% 100%, $col-header-2, $col-header-1);

	.heading {
		&__main {
			color: darken($col-header-2, 10%);
		}

		&__sub {
			color: darken($col-header-1, 22%);
		}
	}
}
