body {
	font-family: 'Source Sans Pro', Roboto, Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
}

.heading {
	margin: 0;
	font-weight: 900;
	font-size: 2.2em;
	line-height: 1;
	text-transform: uppercase;

	&--3 {
		font-size: 1.4em;
		text-transform: none;
		font-weight: 400;
	}
}

@media(min-width: $break-s) {
	.heading {
		font-size: 2.8em;

		&--3 {
			font-size: 1.6em;
		}
	}
}
